body {
    background-color: transparent !important;
}

#send_form {
    background-color: transparent !important;
}

body.no-blur #send_form {
    background-color: transparent !important;
}

.mes_text p {
    line-height: 60px;
}
