@font-face {
    font-family: 'STHupo';
    src: url('./STHupo.ttf');
}

@font-face {
    font-family: 'hyzy';
    src: url('./hyzy.ttf');
}

body {
    background-color: transparent !important;
}

#send_form {
    background-color: transparent !important;
}

body.no-blur #send_form {
    background-color: transparent !important;
}

#chat {
    border: 0 !important;
}

.mes {
    border: 0 !important;
    margin-bottom: 200px !important;
}

.mes_text p {
    line-height: 70px;
    font-size: 30px;
    opacity: 0.5;
    /*font-family: 'STHupo', 'hyzy', sans-serif;*/
}

.mes_text q {
    /*color: transparent !important;*/
    /*font-weight: bolder;*/
    /*-webkit-text-stroke: 1px #e91e63;*/
    /*letter-spacing: 1px;*/
}

.mes_text em {
    /*color: transparent !important;*/
}

#send_textarea {
    font-size: 30px;
    height: 56px;
}




